<div class="section">
    <h1>Requesting Cell-lines and/or PDXs</h1>
    <h2>Download Material Transfer Agreements</h2>
    <h2>Open Distribution List MTAs</h2>
    
<p>Investigators may request <strong>up to 10  </strong> cell lines (cumulative overall requests) with minimal project descriptions (to be briefly 
    outlined in Attachment A of the MTA).</p>
    <p><strong>More cell lines and/or PDXs will require a more extensive project description/ justification or a collaboration.</strong></p>
    
    <p>Some previously published cell lines, with originating investigator approval, will be characterized by the Childhood Cancer
    Repository laboratories and made available through this website and utilize COG MTA.</p>
    
    
    
    
    <p>
    
    1. Select the cell line(s)/PDXs by clicking each check box next to the cell line name.<br>
    
    2. Fill out the institutional or commercial/industry information at the bottom of the page.<br>
    
    3. Attach a fully signed MTA (including Attachment A)<br>
    
    4. Attach any additional documents required for your request (i.e. a justification for any request over 10 cell lines total)<br>
    
    5. Click Submit.<br>
    </p>
    <br><br>
    <p><strong>For all questions regarding requests and MTAs, please visit our <a href="help.php">FAQ page</a>.</strong></p>
    <br>
    <p>
    To view a complete cell line description (origin, growth conditions, pictures, etc.), click on the cell line name to open a pdf data sheet to view and/or download.<br><br>
    
    Cell lines ending in “h” are established and grown in 5% O2.<br>
     Cells ending in “h2” are established and grown in 2% O2.<br>
    Cells established and grown in serum-free neurobasal media will end with “nb”. PDXs, ending in an “x”, are 
    patient direct and have never been <i>in vitro</i>. Xenografts ending in “m” are 
    established from a cell line.
    </p>
    
    <p><strong>Open Distribution List MTAs PDFs</strong></p>
    <nav id="secondary-navigation">
    <ul>
    <li><a href="dl/MTAs/COG_Standard_MTA_Template_Mod_06-2014_FINAL_Fillable.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="PDF icon" border="0"> <strong>Cell Culture or Xenograft Transfer Agreement (PDF)</strong><!-- Childhood Cancer Repository --></a></li>
    
    <li><a href="dl/MTAs/COG_Industry_MTA_Template_Mod_10-2014_FINAL_Clean.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="PDF icon" border="0"> <strong>Childhood Cancer Repository <span class="orangetxt">Commercial/Industry</span> Materials Transfer Agreement (PDF)</strong></a></li>
    
    </ul>
    </nav>
    
    <p>
    After completing and signing the MTA, upload it as a <strong>PDF</strong> file when prompted on our online cell request form or fax it to <strong>806-
    743-2691</strong>. Files MUST be in PDF format. File size may not exceed <strong>2 megabytes</strong>. 
    </p>
    
    
    <br>
    <p>To request cell lines that are not currently on the Open Distribution List or questions about the Childhood Cancer Repository
    contact us <a href="contact.php">here</a>.
    </p>


</div>
