<div class="section">
    <h1>Requesting Cell-lines</h1>
            <h2>List of Available Rhabdomyosarcoma </h2>
 			<br>
             <div class="contentbox">
        <p>To view a complete cell line description (origin, growth conditions, pictures, etc.), click on the cell line name to open a pdf data sheet to view and/or download.</p>
		
</div>
<br>

 <!-- STEP 1: Put the full URL to formmail.php on your website in the 'action' value. -->
 <div class="N1_Lines">
    <table>
    <tr><th colspan="10"><a href="tables/Rhabdomyosarcoma.php" target="blank"><h3 class="cellreqth ctr">Rhabdomyosarcoma</h3></a>
    </th></tr>
</table>
</div>
<br>
</div>