<div class="section">
    <h1>About Us</h1>
    <p><!-- COGcell -->The <strong>Childhood Cancer Repository</strong>, <span style="font-size:86%;">powered by Alex's Lemonade Stand Foundation</span>, is a resource 
        laboratory of the Children's Oncology Group.  The laboratory is located at Texas Tech University Health Sciences Center in Lubbock, TX and is under the direction of
         C Patrick Reynolds, MD PhD. The repository is generously supported by Alex's Lemonade Stand Foundation.   Support for the animal facilities used by the repository 
         is provided by the Cancer Prevention & Research Institute of Texas.  Support for genomic and biological characterization of cell lines and PDXs in the repository 
         comes from the National Cancer Institute and the Department of Defense.</p>
        
        <p>With the exception of legacy cell lines established many years ago, all cell lines and PDXs banked in <a href="http://cccells.org/" target="blank">cccells.org</a> 
        are obtained via clinical protocols (mostly COG) with informed consent/assent.  Patient confidentiality is a prime concern and cell lines and PDXs receive designators
         that enables linkage to key data but not directly to any patient.  The one exception to this are those cell lines and PDXs established from patients at post-mortem,
          which (if requested by the parents) are provided a unique name of the parents' choosing.</p>
        
        <p>The goal of the repository is to provide validated cell lines and PDXs from childhood cancers to all investigators seeking to carry out biological and pre-clinical
         therapeutic studies of childhood cancer.  Every cell line or PDX provided by the repository is validated as to patient of origin by short tandem repeat (STR) assay, 
         and to be free of mycoplasma and EBV.  PDXs are validated to be free of a panel of viral pathogens as required by most animal use committees.  Cell lines and PDXs
          are validated to be able to grow continuously and be sub-passable for additional studies. The repository maintains a searchable STR database to facilitate 
          validation of cell line and PDX molecular identity by any investigator. Thus, the repository enables all investigators studying childhood cancer to share the same 
          validated models so that data obtained are robust and can be compared between laboratories.</p> 

          <h2>Childhood Cancer Repository Staff</h2>
<table class="noborder">
<tr class="noborder">
    <td class="noborder">Director:</td>
    <td class="noborder">C Patrick Reynolds, MD PhD</td>
</tr>
<!-- <tr class="noborder">
    <td class="noborder">Lab Supervisor:</td>
    <td class="noborder">pending</td>
</tr> -->
<tr class="noborder">
    <td valign="top" class="noborder">Lab Managers:</td>
    <td valign="top" class="noborder">Jonas Nance<br>
			Kristyn McCoy
			</td>
</tr>
<tr class="noborder">
    <td valign="top" class="noborder">Our Team:</td>
    <td valign="top" class="noborder">Wan Hsi (Wendy) Chen<br>
    Nick Rohr <br>
    Diana Ixtlamati-Nava<br>

			</td>
</tr>
</table>
<br>

<h2>Childhood Cancer Repository Laboratory Facilities</h2>

<p><img src="pix/MVE-LN2-freezers-web.jpg" width="448" height="318" alt="LN2 Freezers" title="LN2 Freezers" border="0" align="right" class="picright"> The Childhood Cancer Repository has a dedicated cell culture laboratory at TTUHSC and is set up with a separate cell line initiation and cell line expansion/banking laboratories. These labs are positive pressure to the central personnel housing and bench laboratory, and the latter positive pressure to hallways. The labs are each equipped with 4 incubators (O2 control capable), 3 biosafety cabinets, centrifuges, microscopes, and digital photomicroscopy.</p>

<p>A molecular core lab supports the biorepository and houses an ABI sequencer optimized for <a href="clid.php">short tandem repeat</a> assays and a TaqMan quantitative RT-PCR system equipped for Taqman low density arrays (TLDA). For characterizing lines or if sorting is necessary, an adjacent core lab has a BD LSRFortessa X-20 flow cytometer and a FACS AriaII cell sorter.</p>

<p><img src="pix/LN2-source.jpg" width="300" height="448" alt="LN2 Supply" title="LN2 Supply" border="0" align="left" class="picleft"> Cryopreservation facilities for the biorepository are robust. Storage is in MVE 1800 Series 190F LN2 vapor freezers which are fed from an external dedicated 7000 gallon LN2 source via vacuum-jacketed lines. Each MVE 190F freezer can hold 70,800 cryovials, and with 5 freezers, the biorepository has a capacity of 354,000 cryovials. Space in the biorepository and in place LN2 feed connections allows for expansion to double the biorepository. The lab also has 10-80&deg; freezers for tissue and fetal bovine serum storage. All freezers are constantly remote monitored with web access and email notification of alarms.</p>

<p><a href="dl/Cell_Line_Initiation_lab_TTUHSC.pdf"><img src="pix/cell-line-init-lab-xs.jpg" width="200" height="220" alt="Lab Layout" title="Lab Layout" border="0" align="right" class="picright"></a> <em>Images:</em><br><br>Above right, LN2 freezers.<br>Left, LN2 supply.<br>Right, Lab layout (<a href="dl/Cell_Line_Initiation_lab_TTUHSC.pdf">downloadable PDF</a> map).</p>
            

</div>
