<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
        <i>ALK</i> Mutated
    </h1>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
    
    <th scope="col">Cell Line</th>
    <th>Phase of Therapy</th>
    <th scope="col">Sample Type</th>
    <th><i>MYCN*</i></th>
    <th><i>ALK</i></th>
    <th scope="col">TMM</th>
    <th><i>Tp</i>53</th>
    <th>p53</th>
    <th colspan="3">pO2</th>
    <th scope="col"> Request </th>
        </thead>
        <tbody>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>2%</td><td>5%</td><td>20%</td></tr>
 <tr><td>LA-N-6</td><td>PD</td><td>bone marrow</td><td>N</td><td>D1091N</td><td>&nbsp;</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>SMS-KCNR</td><td>PD</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>SMS-SAN</td><td>Dx</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-27</td><td>Dx</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-52%20Cell%20Line%20Data%20Sheet.pdf">CHLA-52</a></td><td>PD-PM</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>NF</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-53%20Cell%20Line%20Data%20Sheet.pdf">CHLA-53</a></td><td>PD-PM</td><td>peripheral blood</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>NF</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-295</td><td>Dx</td><td>solid tumor</td><td>N</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-333</td><td>Dx</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-415%20Cell%20Line%20Data%20Sheet.pdf">COG-N-415</a></td><td>PD-PM</td><td>blood</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-452%20Cell%20Line%20Data%20Sheet.pdf">COG-N-452</a></td><td>PD-PM</td><td>blood</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-469h</td><td>PD</td><td>left bone marrow</td><td>N</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-470%20Cell%20Line%20Data%20Sheet.pdf">COG-N-470</a></td><td>PD-PM</td><td>blood</td><td>N</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&#10003;</td><td>&#10003;</td><td>&nbsp;</td></tr>
 <tr><td>COG-N-474</td><td>Dx</td><td>bone marrow</td><td>A</td><td>F1174L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&nbsp;</td></tr>
 <tr><td>COG-N-549</td><td>PD</td><td>tumor</td><td>N</td><td>F1174L</td><td>TERT+</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-28</td><td>PD</td><td>bone marrow</td><td>A</td><td>F1245C</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-443h</td><td>PD</td><td>right bone marrow</td><td>N</td><td>F1245C</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-534%20Cell%20Line%20Data%20Sheet.pdf">COG-N-534</a></td><td>PD-PM</td><td>blood</td><td>N</td><td>F1245C</td><td>TERT +</td><td>&nbsp;</td><td>NF</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-561%20Cell%20Line%20Data%20Sheet.pdf">COG-N-561</a></td><td>PD-PM</td><td>blood</td><td>A </td><td>F1245I</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-557%20Cell%20Line%20Data%20Sheet.pdf">COG-N-557</a></td><td>Dx</td><td>bone marrow</td><td>A</td><td>F1245L</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>Felix</td><td>PD-PM</td><td>blood</td><td>N</td><td>F1245V</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-90</td><td>PD</td><td>bone marrow</td><td>N</td><td>F1245V</td><td>ALT</td><td>E286K</td><td>NF</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>N623FLY-hnb</td><td>PD-PM</td><td>blood</td><td>N</td><td>F1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&nbsp;</td></tr>
 <tr><td>LA-N-5</td><td>Dx</td><td>bone marrow</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>NB-1643</td><td>Dx</td><td>&nbsp;</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>SMS-KCN</td><td>Dx</td><td>solid tumor</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-15%20Cell%20Line%20Data%20Sheet.pdf">CHLA-15</a></td><td>Dx</td><td>tumor</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-16</td><td>Dx</td><td>pleural fluid</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-20%20Cell%20Line%20Data%20Sheet.pdf">CHLA-20</a></td><td>PD</td><td>tumor (neck)</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-42%20Cell%20Line%20Data%20Sheet.pdf">CHLA-42</a></td><td>Dx</td><td>bone marrow</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-61%20Cell%20Line%20Data%20Sheet.pdf">CHLA-61</a></td><td>PD-PM</td><td>peripheral blood</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>F</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/CHLA-95%20Cell%20Line%20Data%20Sheet.pdf">CHLA-95</a></td><td>PD</td><td>tumor</td><td>A</td><td>R1275Q</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-150</td><td>PD</td><td>bone marrow</td><td>N</td><td>R1275Q</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>CHLA-151</td><td>Dx</td><td>tumor</td><td>A</td><td>R1275Q</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-294</td><td>Dx</td><td>solid tumor</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>NF</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-298</td><td>Dx</td><td>solid tumor</td><td>N</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-367</td><td>Dx</td><td>bone marrow</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>COG-N-475h</td><td>PD</td><td>tumor</td><td>A</td><td>R1275Q</td><td>&nbsp;</td><td>R342</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td><a href="../PDF_Files/ALK/COG-N-536h%20Cell%20Line%20Data%20Sheet.pdf">COG-N-536h</a></td><td>PD-PM</td><td>blood</td><td>A</td><td>R1275Q</td><td>TERT +</td><td>&nbsp;</td><td>NF</td><td>&#10003;</td><td>&#10003;</td><td></td></tr>
</tbody></table>
