<div class="list-group">
    <a href="https://www.alexslemonade.org/" class="list-group-item list-group-item-action">ALSF</a>
    <a href="https://www.childrensoncologygroup.org/" class="list-group-item list-group-item-action">COG</a>
    <a href="https://www.childrensoncologygroup.org/" class="list-group-item list-group-item-action">NCI PPTC</a>
    <a href="https://www.cprit.state.tx.us/" class="list-group-item list-group-item-action">CPRIT</a>
    <a href="https://cdmrp.army.mil/prcrp/awards/19ttsaawards" class="list-group-item list-group-item-action">DOD</a>
    <a href="https://www.cancer.gov/" class="list-group-item list-group-item-action">National Cancer Institute</a>
    <a href="https://www.pptpinvitro.org/links.php" class="list-group-item list-group-item-action">PPTP</a>
    </div>