<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
     Ewing's Family of Tumor
    </h1>
    <br>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cell Line</th>
    <th>PDX</th>
    <th scope="col">Phase Of Disease</th>
    <th>Age (years)</th>
    <th scope="col">Sample Type Received</th>
    <th scope="col" >Diagnosis</th>
    <th colspan="3">pO2</th>
    <th scope="col"> Request </th>
    </tr>
    
    </thead>

    <tbody>
        <tr><td>&nbsp;</td><td colspan="5">&nbsp;</td><td>2% O2</td><td>5% O2</td><td>20% O2</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/SMS-SB%20Cell%20Line%20Data%20Sheet.pdf">SMS-SB</a></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>tumor</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td>-</td><td>-</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/CHLA-221%20Cell%20Line%20Data%20Sheet.pdf">CHLA-221</a></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Acute Nonlymphocytic Leukemia (ANLL)</td><td>-</td><td>-</td><td>&#10003;</td></tr>
        <tr><td>CHLA-233</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Acute Nonlymphocytic Leukemia (ANLL)</td><td>-</td><td>-</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-317.pdf">COG-LL-317</a></td><td>COG-LL-317x</td><td>PD</td><td>&nbsp;</td><td>bone marrow</td><td>T-cell Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-319.pdf">COG-LL-319</a></td><td><a href="../PDF_Files/LL-PDX/COG-LL-319x%20Cell%20Line%20Data%20Sheet.pdf">COG-LL-319x</a></td><td>Dx</td><td>&nbsp;</td><td>peripheral blood</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-329.pdf">COG-LL-329</a></td><td><a href="../PDF_Files/LL-PDX/COG-LL-329x%20Cell%20Line%20Data%20Sheet.pdf">COG-LL-329x</a></td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>T-cell Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td>-</td><td><a href="../PDF_Files/LL-PDX/COG-LL-330x%20Cell%20Line%20Data%20Sheet.pdf">COG-LL-330x</a></td><td>&nbsp;</td><td>&nbsp;</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-332.pdf">COG-LL-332</a></td><td>COG-LL-332x</td><td>PD</td><td>&nbsp;</td><td>bone marrow</td><td>T-cell Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td>-</td><td>COG-LL-339x</td><td>&nbsp;</td><td>&nbsp;</td><td>bone marrrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-343x</td><td>&nbsp;</td><td>16</td><td>&nbsp;</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-350x</td><td>Dx</td><td>4</td><td>peripheral blood</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-351x</td><td>&nbsp;</td><td>&nbsp;</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-355.pdf">COG-LL-355</a></td><td>COG-LL-355x</td><td>Dx</td><td>7</td><td>bone marrow</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td>COG-LL-356h</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>-</td><td>COG-LL-375x</td><td>&nbsp;</td><td>12</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-377x</td><td>&nbsp;</td><td>&nbsp;</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-380x</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-384h.pdf">COG-LL-384h</a></td><td>-</td><td>PD</td><td>&nbsp;</td><td>&nbsp;</td><td>T-cell Acute Lymphoblastic Leukemia (ALL)</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>COG-LL-394</td><td>COG-LL-394x</td><td>PD</td><td>&nbsp;</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-402h.pdf">COG-LL-402h</a></td><td>COG-LL-402x</td><td>Dx</td><td>9</td><td>bone marrow</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td>&#10003;</td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-413x</td><td>&nbsp;</td><td>&nbsp;</td><td>bone marrow</td><td>Pre-B Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-434h.pdf">COG-LL-434h</a></td><td>pending</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>T-cell Acute Lymphoblastic Leukemia (ALL)</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>-</td><td>COG-LL-436x</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>Acute Lymphoblastic Leukemia (ALL)</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-456x</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>&nbsp;</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-489x</td><td>Dx</td><td>&nbsp;</td><td>peripheral blood (1st draw)</td><td>T-cell Leukemia</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-492x</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>T-cell Leukemia</td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td>-</td><td>COG-LL-494x</td><td>Dx</td><td>&nbsp;</td><td>peripheral blood (2nd draw)</td><td>T-cell Leukemia </td><td> - </td><td> - </td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-528h.pdf">COG-LL-528h</a></td><td>COG-LL-525x</td><td>Dx</td><td>&nbsp;</td><td>bone marrow (right draw)</td><td>Leukemia</td><td> - </td><td>&#10003;</td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LL-528h.pdf">COG-LL-528h</a></td><td>COG-LL-528x</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>Leukemia</td><td> - </td><td>&#10003;</td><td> - </td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LY-357.pdf">COG-LY-357</a></td><td>-</td><td>Dx</td><td>&nbsp;</td><td>bone marrow</td><td>Pre-T Lymphoblastic Lymphoma (LBL)</td><td>-</td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LY-457.pdf">COG-LY-457</a></td><td>COG-LY-457x</td><td>PD-PM</td><td>10</td><td>bone marrow (autopsy)</td><td>Burkitt's Lymphoma</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LY-458.pdf">COG-LY-458</a></td><td>COG-LY-458x</td><td>PD-PM</td><td>10</td><td>blood (central vein) (autopsy)</td><td>Burkitt's Lymphoma</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LY-459.pdf">COG-LY-459</a></td><td><a href="../PDF_Files/LL-PDX/76-COG-LY-465x%20Cell%20Line%20Data%20Sheet.pdf">COG-LY-465x</a></td><td>PD-PM</td><td>10</td><td>blood (left subclavian) (autopsy)</td><td>Burkitt's Lymphoma</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
        <tr><td><a href="../PDF_Files/LL-PDX/COG-LY-460.pdf">COG-LY-460</a></td><td>COG-LY-465x</td><td>PD-PM</td><td>10</td><td>tumor/tumor</td><td>Burkitt's Lymphoma</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
       </tbody></table>