<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
        Brain
    </h1>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
    
    <th scope="col">Cell Line</th>
    <th>Phase of Disease</th>
    <th scope="col">Sample Type</th>
    <th>Age (years)</th>
    <th scope="col">Diagnosis</th>
    <th colspan="3">pO2</th>
    <th scope="col"> Request </th>
    </tr>
    </thead>
    <tbody>
     <tr>
        
            <td>CHLA-198</td>
            <td>Dx</td>
            <td>tumor</td>
            <td>&nbsp;</td>
            <td>Anaplastic Astrocytoma</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart('Test')">
                <span class="glyphicon glyphicon-shopping-cart" ></span> 
              </button></td>
        </tr>
     </tbody>
    </table>
    <br>
  