<div class="section">
    <h1>Protocols and SOPs</h1>
<h2>Some of our protocols are available for download in PDF format.</h2>

<p>Please click on the links below to view the files, or right-click and choose "Save Link As..." to save the files to your computer.</p>

<ul>
<li><a href="dl/prot/2015-10-23/SOP1_Blood_and_Bone_Marrow_Processing.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 1 - Blood and Bone Marrow Processing</a></li>
<li><a href="dl/prot/2015-10-23/SOP2_Solid_Tumor_Processing.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 2 - Solid Tumor Processing</a></li>
<li><a href="dl/prot/2015-10-23/SOP3_Ascites_Pleural_Fluid_Processing.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 3 - Ascites Pleural Fluid Processing</a></li>
<li><a href="dl/prot/2015-10-23/SOP4_Obtaining_Post-Mortem_Samples.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 4 - Obtaining Post-Mortem Samples</a></li>
<!--
<li><a href="dl/prot/2015-10-23/SOP5_Short_Tandem_Repeat_STR_Profiling.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 5 - Short Tandem Repeat STR Profiling</a></li>
-->
<li><a href="dl/prot/2015-10-23/SOP6_Mycoplasma_Assay.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 6 - Mycoplasma Assay</a></li>
<li><a href="dl/prot/2015-10-24/SOP8_Thawing_a_Sample_for_Reinjection.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 8 - Thawing a Sample for Reinjection</a></li>
<li><a href="dl/prot/2015-10-24/SOP19_In_Vitro_Cell_Culture_Procedure.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 19 - <em>In Vitro</em> Cell Culture Procedure</a></li>
<li><a href="dl/prot/2015-10-24/SOP23_Cell_Cryopreservation.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 23 - Cell Cryopreservation</a></li>
<li><a href="dl/prot/2015-10-24/SOP24_In_Vivo_Injection_Protocols.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 24 - <em>In Vivo</em> Injection protocols</a></li>
<li><a href="dl/prot/2015-11-18/SOP_25_Short_Tandem_Repeat_STR_Profiling_GP10.pdf"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> SOP 25 - Short Tandem Repeat STR Profiling GP10</a></li>

<!-- <li><a href="dl/prot/STR-SOP_cpr_edits.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> Procedure for Establishing Unique Genetic Identity of Cell Lines or Xenografts</a></li>

<li><a href="dl/prot/Cell_Culture_Techniques.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> Cell Culture Techniques</a></li> -->

<!-- <a href="dl/Cell-lineGenomicIDbySTRassay.pdf" target="_blank"><img src="pix/icon-pdf.gif" width="24" height="24" alt="Adobe PDF icon" border="0"> Cell-line Genomic Identification by STR Assay</a> -->

<!-- <li><a href="dl/prot/SOP_4-1_Obtaining_Post-Mortem_Samples.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"> Obtaining and shipping post-mortem samples</a></li> -->
</ul>
</div>
