<div class="section">
    <h1>News</h1>
    <h2>Some of our news updates are available for download in PDF format.</h2>

    <p>Please click on the links below to view the files, or right-click and choose "Save Link As..." to save the files to your computer.</p>

<h3 class="subhdr">December, 2020:</h3>
<ul>
<li>Dec 2020 The website has been redesigned, adding a large amount of data, many new cell lines and PDXs, and additional features such as a “shopping cart” means of selecting cell lines and PDXs to request.</li>
</ul>

<h3 class="subhdr">January 2018:</h3>
<ul>
<li><a href="https://www.alexslemonade.org/" target="_blank">Alex's Lemonade Stand Foundation</a> has awarded a grant providing 5 years of support for the <strong>Childhood Cancer Repository</strong>, <span style="font-size:86%;">powered by Alex's Lemonade Stand Foundation</span>, that is housed in the TTUHSC Cancer Center. This laboratory, in collaboration with the Children's Oncology Group, establishes, banks, and distributes  childhood cancer cell lines and patient-derived xenografts (PDXs) to > 450 laboratories in 21 countries. The outstanding commitment of ALSF to this important repository will insure it continues to be an important resource lab for the COG and for many pediatric oncology investigators world-wide.</li>
</ul>

<h3 class="subhdr">April 19th, 2016:</h3>
<ul>
<li>Beginning 4/19/2016, TXCCR will now accept <a href="https://txccr.org/submitsample.php" target="_blank">STR and Mycoplasma sample submission</a> for testing.</li>
</ul>

<h3 class="subhdr">October 23rd, 2015:</h3>
<ul>
<li>The Childhood Cancer Repository and Cell-Line STR Genotype Database websites have been updated with a new layout and design.</li>
</ul>

<h3 class="subhdr">October 1st, 2015:</h3>
<ul>
<li>Team Cellbusters logged in a total of 9,675 miles of running, walking or bike riding and <a href="donors-amm.php">raised a total of $3,340.00</a> in <a href="https://www.alexslemonade.org/campaign/2015-alexs-million-mile" target="_blank">Alex’s Million Mile Event</a>. We were excited to have the Texas Tech University Cross Country team partner up with Team Cellbusters for the Million Mile event.</li>
</ul>

<!-- 2014 We were excited to have the TTU Cross Country team partner up with Team Cellbusters for the Million Mile event. <a href="http://www.alexslemonade.org/mypage/1117521/miles" target="_blank"></a> 
<a href="http://dailydose.ttuhsc.edu/news/school-of-medicine/school-of-medicine-red-raider-cross-country-join-forces-for-alsf/" target="_blank"></a> -->

<h3 class="subhdr">Oct 20th, 2014:</h3>
<ul><li>We are pleased to announce that we are now accepting open distribution industry requests. Please use the <a href="dlMTA.php">commercial/industry MTA</a> for such requests.</li></ul>

<h3 class="subhdr">Oct 1st, 2014</h3>
<ul>
<li><img src="pix/cellbusterslogo-s.jpg" align="right" width="145" height="186" alt="Cellbusters Logo"> <a href="https://www.alexslemonade.org/mypage/1117521/miles" target="_blank">Team Cellbusters</a> partnered with the Texas Tech University cross country team to log 15324.8 miles for <a href="https://www.alexslemonade.org/campaign/2014-alexs-million-mile" target="_blank">Alex's Million Mile event</a>.<br><br>
All in the event together logged &gt; 800,000 miles. Way to go team! <br><br>
<a href="http://dailydose.ttuhsc.edu/news/school-of-medicine/school-of-medicine-red-raider-cross-country-join-forces-for-alsf/" target="_blank">Read more</a> about the event at the <a href="http://dailydose.ttuhsc.edu/news/school-of-medicine/school-of-medicine-red-raider-cross-country-join-forces-for-alsf/" target="_blank">Daily Dose</a>.</li>
</ul>

<h3 class="subhdr">September 22nd, 2014</h3>
<ul>
<li>We have added seven new EFT lines: CB-AGPN, CHLA-57, CHLA-99, CHLA-218, TC-106, TC-138, and TC-205. Some of the information for these new lines is currently pending. The data will be updated as soon as it is available.</li>
</ul>

<h3 class="subhdr">June 2014</h3>
<ul>
<li>As of June 2014, a revised MTA was finalized to encompass most concerns that were raised in the past. The MTA is final and no changes will be possible.  If you still have questions regarding the MTA, you can <a href="contact.php">email us for clarification</a>.</li>
</ul>

<h3 class="subhdr">Feb 16th, 2007</h3>
<ul>
<li><a href="dl/news/Science_Mistaken_Identity.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"></a> Mistaken Identity: the widespread problem of <a href="dl/news/Science_Mistaken_Identity.pdf" target="_blank">cell line cross contamination</a>. </li>
</ul>

<h3 class="subhdr">Jan 5th, 2007:</h3>
<ul>
<li><a href="dl/news/Science_FU-NB-2006_story.pdf" target="_blank"><img src="pix/icon-pdf-sml.jpg" width="16" height="16" alt="Adobe PDF icon" border="0"></a> <a href="dl/news/Science_FU-NB-2006_story.pdf" target="_blank">Download this article</a> to read about <a href="dl/news/Science_FU-NB-2006_story.pdf" target="_blank">FU_NB06, the cell-line</a> developed from Christi Thomas' drug-resistant neuroblastoma. </li>
</ul>
           
</div>