<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
    Rhabdomyosarcoma
    </h1>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
    
    <th scope="col">Cell Line</th>
    <th>Phase of Therapy</th>
    <th scope="col">Diagnosis</th>
    <th scope="col">Sample Type</th>
    <th>Age (years)</th>
    <th scope="col">p53</th>
    <th scope="col">Site of Specimen</th>
    <th scope="col">DT5 (Hours)</th>
    <th scope="col"> Request </th>
    
    </thead>
    <tbody>
        <tr><td><a href="../PDF_Files/Rhabdomyosarcoma/Rh18%20Cell%20Line%20Data%20Sheet.pdf">Rh18</a></td><td>Dx</td><td>Rhabdomyosarcoma, embryonal</td><td>perineum </td><td>2</td><td>N</td><td>perineum</td><td>65</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('Rh18','Rh18')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        <tr><td><a href="../PDF_Files/Rhabdomyosarcoma/Rh30%20Cell%20Line%20Data%20Sheet.pdf">Rh30</a></td><td>Dx</td><td>Rhabdomyosarcoma, alveolar</td><td>bone marrow</td><td>17</td><td>F</td><td>bone<br>marrrow</td><td>35</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('Rh30','Rh30')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        <tr><td><a href="../PDF_Files/Rhabdomyosarcoma/Rh41%20Cell%20Line%20Data%20Sheet.pdf">Rh41</a></td><td>PD</td><td>Rhabdomyosarcoma, alveolar</td><td>lung tumor</td><td>&nbsp;</td><td>N</td><td>lung</td><td>60</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('Rh41','Rh41')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
       </tbody></table>