<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
        Brain
    </h1>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
    
    <th scope="col">Cell Line</th>
    <th>Disease</th>
    <th scope="col">Gender</th>
    <th>Age (years)</th>
    <th scope="col">Diagnosis</th>
    <th scope="col">Phase of therapy</th>
    <th scope="col">Site of Specimen</th>
    <th scope="col">DT5</th>
    <th scope="col"> Request </th>
    
    </thead>
    <tbody>
        <tr><td><a href="../PDF_Files/Brain/BT-12.pdf">BT-12</a></td><td>Brain Tumor</td><td>F</td><td>0.2</td><td>Atypical Teratoid Rhabdoid Tumor</td><td>DX</td><td>&nbsp;</td><td>&nbsp;</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('BT-12','BT-12')">
            <span class="glyphicon glyphicon-shopping-cart" ></span></button></td> </tr>
        <tr><td>CHLA-266</td><td>Brain Tumor</td><td>F</td><td>1.5</td><td>Atypical Teratoid Rhabdoid Tumor</td><td>DX</td><td>posterior fossa</td><td>45</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('CHLA-266','CHLA-266')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> </button></td></tr>
        <tr><td><a href="../PDF_Files/Brain/SJ-GBM2.pdf">SJ-GBM2</a></td><td>Brain Tumor</td><td>F</td><td>5</td><td>Glioblastoma Multiforme</td><td>PD</td><td>brain</td><td>&nbsp;</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('SJ-GBM2','SJ-GBM2')">
            <span class="glyphicon glyphicon-shopping-cart" ></span></button></td> </tr>
            </tbody></table>