<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class="section">
    <h1 class="t_h1">
    Ewing's Family Of Tumor
    </h1>
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
    
    <th scope="col">Cell Line</th>
    <th>Disease</th>
    <th scope="col">Phase of Disease</th>
    <th>Age (years)</th>
    <th scope="col">Ews/FlI1 Status</th>
    <th scope="col">p53</th>
    <th scope="col">Sample Type</th>
    <th scope="col">Diagnosis</th>
    <th scope="col">DT5</th>
    <th scope="col"> Request </th>
    
    </thead>
    <tbody>
        <tr><td><a href="../PDF_Files/Brain/CHLA-9%20Cell%20Line%20Data%20Sheet.pdf">CHLA-9</a></td><td>Ewing's Family <br>of Tumors</td><td>Dx</td><td>14</td><td>FLI1</td><td>F</td><td>tumor (thoracic mass)</td><td>Primitive Neuroectodermal<br> Tumor (PNET)</td><td>51</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('CHLA-9','CHLA-9')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        <tr><td><a href="../PDF_Files/Brain/CHLA-10%20Cell%20Line%20Data%20Sheet.pdf">CHLA-10</a></td><td>Ewing's Family <br>of Tumors</td><td>PD</td><td>14</td><td>FLI1</td><td>N</td><td>thoracic lymph node</td><td>Primitive Neuroectodermal <br>Tumor (PNET)</td><td>32</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('CHLA-10','CHLA-10')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        <tr><td><a href="../PDF_Files/Brain/CHLA-258%20Cell%20Line%20Data%20Sheet.pdf">CHLA-258</a></td><td>Ewing's Family<br> of Tumors</td><td>PD-BMT</td><td>14</td><td>FLI1</td><td>N</td><td>tumor (lung met)</td><td>Primitive Neuroectodermal <br>Tumor (PNET)</td><td>89</td><td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('CHLA-258','CHLA-258')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        <tr><td><a href="../PDF_Files/Ewings/TC-71.pdf">TC-71</a></td><td>Ewing's Family of Tumors</td><td>PD</td><td>22</td><td>FLI1</td><td>N</td><td>&nbsp;</td><td>Ewing's Sarcoma</td><td>21</td> <td><button type="button" class="btn btn-default btn-sm"  (click)="addToCart1('TC-71','TC-71')">
            <span class="glyphicon glyphicon-shopping-cart" ></span> 
          </button></td></tr>
        </tbody></table>