<div >
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">CHILDHOOD CANCER REPOSITORY</h1>
          <p class="lead">Powered By</p>
          <p class="lead">Alex's Lemonade Stand Foundation</p>
        </div>
      </div>
    </div>
  </header>
</div>

   


<div>
  <nav class=" navbar navbar-expand-lg navbar-light bg-light sticky-top ">
   
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-aut">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" >
              Cell Lines
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="cellreqs-all">All Diseases</a>
              <a class="dropdown-item" routerLink="/brain">Brain Tumor</a>
              <a class="dropdown-item" routerLink="/ewings">Ewings Family <br> of Tumors</a>
              <a class="dropdown-item" routerLink="/lymphoid">Lymphoid Malignacies<br> and Leukemia</a>
              <a class="dropdown-item" routerLink="cellreqs-ncipptp">NCI PPTP Cell Lines</a>
              <a class="dropdown-item" routerLink="/neuropage">Neuroblastoma</a>
              <a class="dropdown-item" routerLink="/rhb2">Rhabdomyosarcoma</a>


            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/xenograft">Patient Derives xenografts(PDX's)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/RCLP">Requesting Cell Lines and PDX's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/protocols">Protocols and SOPs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/journal-citation">Journal Citations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Cell Line and PDX Identification</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" >
              Cell Line Identification
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="clid">Cell Line Identification Home</a>
              <a class="dropdown-item" >STR Database</a>
              </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://www.alexslemonade.org/campaign/researchers-reviewers/physicians">Providing Samples to Repository</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" >
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="">Data Archive</a>
              <a class="dropdown-item" routerLink="">News</a>
              <a class="dropdown-item" routerLink="">External Links</a>
              <a class="dropdown-item" routerLink="">FAQ</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" >
             Check Out
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="">Cart</a>
              <a class="dropdown-item" routerLink="">Contact </a>
              
              </div>
          </li>
        </ul>
        </div>
    </div>
  </nav>
  
</div>