<div class="list-group">
    <a href="/master" class="list-group-item list-group-item-action">Neuroblastoma</a>
    <a href="/dx" class="list-group-item list-group-item-action">Neuroblastoma Cell Line Established at Diagnosis (Pretherapy)</a>
    <a href="/pdpdpm" class="list-group-item list-group-item-action">Neuroblastoma Cell Line Established at Progressive Disease or Post-Mortem</a>
    <a href="/othercancer" class="list-group-item list-group-item-action"><i>ALK</i> Mutated Neuroblastoma Cell Lines</a>
    <a href="/neuropdx" class="list-group-item list-group-item-action"><i>MYCN</i> Non Amplified Neuroblastoma Cell Lines </a>
    <a href="/othercancer" class="list-group-item list-group-item-action"><i>MYCN</i> Amplified Neuroblastoma Cell Lines</a>
    <a href="/neuropdx" class="list-group-item list-group-item-action">ALT and EST Neuroblastoma Cell Lines</a>
    <a href="/othercancer" class="list-group-item list-group-item-action">Tert Positive Neuroblastoma Cell Lines</a>
    </div>