
<div class="section">
    <h1>Patient-Derived Xenografts (PDX)</h1>
    <p>The Childhood Cancer Repository has patient-derived xenografts (PDXs) established from neuroblastoma, Wilms tumor, Ewings
        sarcoma, rhabdomyosarcoma, lymphoma, and actue lymphoblastic leukemia. These PDX models are available for limited
        distribution to investigators in immediate need of PDX models. We are working to fully characterize and expand the bank of
        PDXs and we will soon have more xenografts available for open distribution.
        </p>
        <p>
            To view a complete PDX description (origin, growth conditions, pictures, etc.), click on the PDX name to open a pdf data sheet
            to view and/or download.</p>
            <div class="list-group">
                <a href="/neuropdx" class="list-group-item list-group-item-action">Neuroblastoma</a>
                <a href="/othercancer" class="list-group-item list-group-item-action">Other Cancers</a>
                </div>

</div>




